/*------------ main common --------------*/
main
{
    padding-top: 50px;
}

main section
{
    border: 1px solid rgb(225, 225, 225);
}



/*------------top banner-----------*/

#top_banner
{
    /* 버튼의 absolute 포지션을 위해 relative*/
    position: relative;

    padding-top: 25px;
    height: 304.7;
    border-bottom: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

#top_banner div
{
    width: 1060;
    padding: 0 12px;
    /*
    transition: 0.3s linear;  /*testing
    */
}

#top_banner img
{
    border-radius: 5px;
}

#top_banner > button
{
    position: absolute;
    
    background-color: rgb(250, 250, 250);
    opacity: 0.5;

    border: 0px;
    border-radius: 15px;
    width: 30px;
    height: 60px;
    font-size: 16px;
    z-index: 10;
}

#prev_btn
{
    right: 90%;
}

#nxt_btn
{
    left: 90%;
}

.sliding_nxt
{
    transition: 0.3s linear;
    transform: translate(100%, 0);
}
/*
.sliding_nxt_reverse
{
    transition: transform 0s linear;
    transform: translate(-100%, 0);
}
*/
.sliding_prev
{
    transition: transform 0.3s linear;
    transform: translate(-100%, 0);
}
/*
.sliding_prev_reverse
{
    transition: transform 0s linear;
    transform: translate(100%, 0);
}
*/




#section1
{
    height: 1040.7px;
}





#section2
{
    height: 482.94px;
}





#section3
{
    height: 504.94px;
}





#section4
{
    height: 64.4px;
}





#section5
{
    height: 569.94px;
}





#section6
{
    height: 278px;
}





#section7
{
    height: 301.25px;
}