#category
{
    display: flex;
    justify-content: center;
}

#category .horizontal_wrapper
{
    margin-top: 70px;
    padding: 20px 0;
    height: 40px;
}

#category .horizontal_wrapper > div
{
    font-size: 24px;
    line-height: 29px;
    
    color:rgb(225, 225, 225);
}

#category .horizontal_wrapper > div:nth-child(2)
{
    padding: 0 20px;
    font-weight: 400;
}

#category_first
{
    background-color: white;
    border: 0px;

    font-size: 24px;
    font-weight: 700;
}

#category_first span:last-child
{
    border: 1px solid rgb(225, 225, 225);
    border-radius: 50%;
    padding: 0px 8px;
    margin: 5px;
}

#category_second
{
    background-color: white;
    border: 0px;

    font-size: 24px;
    font-weight: normal;
}

#category_second span:last-child
{
    border: 1px solid rgb(225, 225, 225);
    border-radius: 50%;
    padding: 0px 8px;
    margin: 5px;
}

#category button span:last-child:hover
{
    border-color: rgb(51, 51, 51);
}